<nav class="navbar-default navbar-static-side" role="navigation" data-ng-controller="HeaderController">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element">
          <!-- Picture of user -->
          <!--<img alt="image" class="img-circle" src="modules/core/client/img/logo.png" />-->
          <a href>
            <span class="clear">
              <span class="block m-t-xs">
                <h2><i class="fa fa-book"></i><strong class="font-bold"> Bookstore:)</strong></h2>
              </span>
              <span class="text-muted text-xs block">MEAN Stack <i>Online Shop</i></span>
            </span>
          </a>
        </div>
        <div class="logo-element">
          Bs:)
        </div>
      </li>
      <li ng-class="{active: $uiRoute}" ui-route="/" >
        <a href="/#!/"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
      </li>
      <!--<li ng-class="{active: $uiRoute}" ui-route="/category/Business" >
        <a href="/category/Business"><i class="fa fa-money"></i> <span class="nav-label">Business</span></a>
      </li>
      <li ng-class="{active: $uiRoute}" ui-route="/category/Children" >
        <a href="/category/Children"><i class="fa fa-child"></i> <span class="nav-label">Children's</span></a>
      </li>
      <li ng-class="{active: $uiRoute}" ui-route="/category/Fiction" >
        <a href="/category/Fiction"><i class="fa fa-book"></i> <span class="nav-label">Fiction</span></a>
      </li>
      <!--<li ng-class="{active: $uiRoute}" ui-route="/category/History" >
        <a href="/category/History"><i class="fa fa-bank"></i> <span class="nav-label">History</span></a>
      </li>
      <li ng-class="{active: $uiRoute}" ui-route="/category/Hobbies" >
        <a href="/category/Hobbies"><i class="fa fa-pagelines"></i> <span class="nav-label">Hobbies</span></a>
      </li>
      <li ng-class="{active: $uiRoute}" ui-route="/category/Science" >
        <a href="/category/Science"><i class="fa fa-flask"></i> <span class="nav-label">Science</span></a>
      </li>
      <li ng-class="{active: $uiRoute}" ui-route="/category/Social" >
        <a href="/category/Social"><i class="fa fa-group"></i> <span class="nav-label">Social Science</span></a>
      </li>
      <li ng-class="{active: $uiRoute}" ui-route="/category/Sport" >
        <a href="/category/Sport"><i class="fa fa-futbol-o"></i> <span class="nav-label">Sports</span></a>
      </li>
      <li ng-class="{active: $uiRoute}" ui-route="/category/Travel" >
        <a href="/category/Travel"><i class="fa fa-bus"></i> <span class="nav-label">Travel</span></a>
      </li>-->
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">
          <i class="fa {{item.icon}}"></i><span class="nav-label">{{::item.title}}&nbsp;</span><span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="nav nav-second-level collapse">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}"><i class="fa {{item.icon}}"></i><span class="nav-label">{{::item.title}}</span></a>
      </li>
      <li ng-repeat="cat in categories" ng-class="{active: $uiRoute}" ui-route="/category/{{cat._id}}" >
        <a href="/products?category={{cat._id.replace('&','%26')}}"><i class="fa fa-book"></i> <span class="nav-label">{{cat._id}} [{{cat.count}}]</span></a>
      </li>
      <li ng-class="{active: $uiRoute}" ui-route="/chat" >
        <a href="/chat"><i class="fa fa-comments"></i> <span class="nav-label">Group Chat</span></a>
      </li>
    </ul>
  </div>
</nav>
