<section>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>{{vm.product._id ? 'Edit Product' : 'New Product'}}</h2>
    </div>
  </div>
  <div class="row wrapper wrapper-content">
    <form name="vm.form.productForm" novalidate>
      <div class="col-lg-4">
        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="title">Title</label>
            <input name="title" type="text" ng-model="vm.product.title" id="name" class="form-control" placeholder="Title" required>
            <div ng-messages="vm.form.productForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Title is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="author">Author</label>
            <input name="author" type="text" ng-model="vm.product.author" id="author" class="form-control" placeholder="Author" required>
            <div ng-messages="vm.form.productForm.author.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Author is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="name">Category</label>
            <input name="category" type="text" ng-model="vm.product.category" id="category" class="form-control" placeholder="Category" required>
            <div ng-messages="vm.form.productForm.author.$error" role="alert">
              <p class="help-block error-text" ng-message="required">category is required.</p>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="name">Price</label>
            <input name="price" type="number" ng-model="vm.product.price" id="price" class="form-control" placeholder="Price" min="0" required>
            <div ng-messages="vm.form.productForm.price.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Price is required.</p>
              <p class="help-block error-text" ng-message="number">Price must be number.</p>
              <p class="help-block error-text" ng-message="min">Price must be positive./p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="stock">Stock</label>
            <input name="stock" type="number" ng-model="vm.product.stock" id="name" class="form-control" placeholder="Stock" min="0" required>
            <div ng-messages="vm.form.productForm.stock.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Stock is required.</p>
              <p class="help-block error-text" ng-message="number">Stock must be number.</p>
              <p class="help-block error-text" ng-message="min">Stock must be positive.</p>
            </div>
          </div>
          <label>Upload Picture</label>
          <div class="form-group">
            <img ng-src="{{vm.product.imageUrl}}" alt="{{product.title}}" class="img-thumbnail user-profile-picture">
          </div>
          <div class="form-group" ng-hide="uploader.queue.length">
            <span class="btn btn-default btn-file">
              Select Image <input type="file" nv-file-select uploader="uploader">
            </span>
          </div>
          <div class="form-group" ng-show="uploader.queue.length">
            <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
            <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
          </div>
          <div ng-show="success" class="text-success">
            <strong>Picture Changed Successfully</strong>
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default" ng-click="vm.save(vm.form.productForm.$valid)">{{vm.product._id ? 'Update' : 'Create'}}</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </div>
      <div class="col-lg-8">
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Description</label>
          <textarea name="description" type="text" ng-model="vm.product.description" id="description" class="form-control" placeholder="Description" rows="15"/>
          <div ng-messages="vm.form.productForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Description is required.</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</section>
