<section>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Books:</h2>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    <div class="col-md-3"  data-ng-repeat="product in vm.products | filter:vm.searchText | pagination: (vm.curPage - 1) * vm.pageSize | limitTo: vm.pageSize"
      data-ui-sref="products.view({ productId: product._id })">
    <div class="ibox">
      <div class="ibox-content product-box">
        <div class="product-imitation">
          <img ng-src="{{product.imageUrl}}" alt="{{product.title}}"  class="user-profile-picture">
        </div>
        <div class="product-desc">
          <span class="product-price">
            ${{product.price}}
          </span>
          <small class="text-muted">{{product.author}}</small>
          <a href="#" class="product-name"> {{product.title}}</a>
          <div class="m-t text-righ">
            <a href="#" class="btn btn-xs btn-outline btn-primary">add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <uib-pagination total-items="vm.products.length" items-per-page="vm.pageSize" max-size="5" boundary-link-numbers="true" ng-model="vm.curPage" ></uib-pagination>
</div>

</section>
