<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.product.title"></h1>
    <small>by <b>{{vm.product.author}}</b></small>
  </div>
  <div class="pull-right"
       data-ng-show="vm.authentication.user.roles.indexOf('admin')>-1">
    <a class="btn btn-primary"
       data-ui-sref="products.edit({ productId: vm.product._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.product.created | date:'mediumDate'"></span>
    </em>
  </small>
  <!--<iframe frameborder="0" scrolling="no" style="border:0px" src="https://books.google.co.id/books?id=Ao7g49o9wmcC&lpg=PP1&dq=fiction&pg=PP1&output=embed" width=500 height=500></iframe>-->
  <p class="lead" data-ng-bind="vm.product.content"></p>
</section>
