<div ng-controller="AuthenticationController">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h2 class="logo-name">BS:)</h2>
            </div>
            <h3>Welcome to BS:)</h3>
            <p>Book Store Application develop with Javascript Fullstack Technology. Do you know what I MEAN?
            </p>
            <p>Login in. To see it in action.</p>
            <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
                <fieldset>
                    <div class="form-group" show-errors>
                        <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>

                        <div ng-messages="userForm.username.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Username is required.</p>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>

                        <div ng-messages="userForm.password.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Password is required.</p>
                        </div>
                    </div>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                        &nbsp; or&nbsp;
                        <a ui-sref="authentication.signup">Register</a>
                    </div>
                    <div class="text-center forgot-password">
                        <a ui-sref="password.forgot">Forgot your password?</a>
                    </div>
                    <alert type="danger" ng-show="error" class="text-center text-danger">
                        <span ng-bind="error"></span>
                    </alert>
                </fieldset>
            </form>
            <!--<p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>-->
        </div>
    </div>
</div>
